#cart{

/*background-color: #778899;*/
margin-top: 10px;
padding:10px;}

#searchBar{

text-align: right;
padding-right: 10px;
}

#login{
text-align: right;
color: white;
padding:10px;
margin-left: 50px;
}


#top-right{
margin-top: 220px;
float: right;
}



body {
background: url(back.jpg) ;
background-size: auto auto;
background-attachment: fixed;

}



/*
#content{
background-color: white;
margin-left: auto;
margin-right: auto;
width: 1000px;
height: auto;
}*/

#header{
padding:10px;
}



#padding{
margin-left: auto;
margin-right: auto;
width: 600px;
}

#home{
margin-left: auto;
margin-right: auto;
width: 500px;
}
/*
#products {
text-align: center;
*/


p.middle {   
 	margin-left: auto;
     margin-right: auto;
     width: 6em
}



#search-box {
    position: relative;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    margin-right: 10px;
}





#cust_info{
	text-align: left;
	float: left;
}

#previous_orders{
	
	margin-left: 450px;
}



table.menu
{


	font: 14px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;	
	border-style: hidden;	
	background-color: black;
	margin-top: 135px;
	padding-right: 40px;
	float:right;
	margin-left: -20px;
	
	
	}
	
	

td{
padding: 20px;
border-bottom: 1px solid #097BB0;
}

table.menu span{
	color : green;
}






