#cart{
/*test*/
/*background-color: #778899;*/
margin-top: 10px;
padding:10px;}

#searchBar{
text-align: right;
padding-right: 10px;
}
/*
#login{
background-color: #778899;
text-align: right;
color: white;
padding:10px;
}
*/
#top-right{
float: right;
}



body {
background: url(back.jpg) ;
background-size: auto auto;
background-attachment: fixed;

}


a{
text-decoration: none;
color: black;
}
/*
#content{
background-color: white;
margin-left: auto;
margin-right: auto;
width: 1000px;
height: auto;
}*/

#header{
padding:10px;
}

#side-menu{
float: left;
margin-top: 110px;
margin-left: 10px;
margin-right: 10px;
}

#side-menu th{
border-radius: 5px;
background-color: black;
color: white;
padding-right: 50px;
}

#side-menu td{
border-radius: 5px;
background-color: #8B0000;
color: white;
}

#side-menu a {
color: white;
}

#padding{
margin-left: auto;
margin-right: auto;
width: 600px;
}

#home{
margin-left: auto;
margin-right: auto;
width: 500px;
}
/*
#products {
text-align: center;
*/
p.middle {   
 	margin-left: auto;
     margin-right: auto;
     width: 6em
}



#cart{
border-radius: 5px;
/*background-color: #778899;*/
margin-top: 10px;
padding:10px;
}

#search-box {
    position: relative;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    margin-right: 10px;
}

#search-form {
    height: 30px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  /*  background-color: #fff;*/
    overflow: hidden;
}

#search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}

#search-box input[type="text"] {
    width: 90%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
}



#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 31px;
    width: 80px;
    font-size: 14px;
    color: green;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: black;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}


/*

#login{
background-color: #778899;
border-radius: 5px;
text-align: right;
color: white;
padding:10px;
}
*/
#cust_info{
	text-align: left;
	float: left;
}

#previous_orders{
	
	margin-left: 450px;
}



table.menu
{


	font: 14px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;	
	border-style: hidden;	
	border-top-right-radius: 4px;
	background-color: black;
	border-top-left-radius: 4px;
	}
	
	


table.menu span{
	color : green;
}






